@{
    ViewBag.Position = "<a href='/BackBill/Index'>修改密码</a>>test";
}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table3">
    <tbody>
        <tr>
            <th width="40%" align="right">
                新密码：
            </th>
            <td width="60%" align="left">
                <input class="text" style="width: 250px;">
            </td>
        </tr>
        <tr>
            <th width="40%" align="right">
                确认密码：
            </th>
            <td width="60%" align="left">
                <input class="text" style="width: 250px;">
            </td>
        </tr>
    </tbody>
</table>
<div class="mt10" align="center"><input type="submit" value="提 交" class="blue-button" style="width: 150px; height: 40px;"></div>