@{
    ViewBag.Position = "管理员设置";
}

<div class="mb5">

    <span class="fr">
        <input name="" type="button" class="gray-button" value="新增管理员">
    </span>

    <div class="clear">
    </div>
</div>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table_list">
    <tbody>
        <tr>
            <th width="10%">
                序号
            </th>
            <th width="40%">
                登录名
            </th>
            <th width="30%">
                密码
            </th>
            <th width="20%">
                操作
            </th>
        </tr>

        <tr>
            <td align="center">
                1
            </td>
            <td align="center">
                admin
            </td>
            <td align="center">
                admin
            </td>
            <td align="center">
                <a href="#" title="重置密码：000000">重置密码</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                1
            </td>
            <td align="center">
                yangping
            </td>
            <td align="center">
                admin
            </td>
            <td align="center">
                <a href="#" title="重置密码：000000">重置密码</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
    </tbody>
</table>